
/*
** HTML elements
*/
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.2em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}


/*
** Page layout blocks / IDs
*/
* {
  margin: 0;
  padding: 0;
}
body {
	background-color: #12459b;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 12px;
}

#box {
}

#boxBoth {
  padding-left: 200px;
  padding-right: 200px;
}

#boxLeft {
  padding-left: 200px;
  padding-right: 20px;
}

#boxRight {
  padding-right: 200px;
}

#box .column, #boxBoth .column, #boxLeft .column, #boxRight .column {
  float: left;
  position: relative;
}

/* Equal height columns.
#container .column {
  padding-bottom: 20010px;
  margin-bottom: -20000px;
}
*/

#center {
  width: 100%;
  min-width: 480px;
  margin: 0px 10px;
  
  border: 1px solid #1b3c5d;
	background-color: #2e5494;
}

/* IE6 fix */
* html #left {
  left: -10px;
}

* html #boxBoth #left {
  left: 170px;
}

#left {
  width: 200px;
  margin-left: -100%;
  right: 220px;
  
  border-top: 1px solid #1b3c5d;
	border-bottom: 1px solid #1b3c5d;
	border-right: 1px solid #1b3c5d;
	background-color: #2e5494;
}

/* IE7 #left fix */
*+html #boxLeft > #left, *+html #boxBoth > #left {
  left: -220px;             /* Negative of (LC fullwidth + CC padding) = width for all browers other than IE7 */
  margin-left: expression(
  document.all.center.offsetWidth * -1 +
  parseFloat(document.all.center.currentStyle.paddingLeft) +
  parseFloat(document.all.left.currentStyle.paddingLeft) +
  parseFloat(document.all.left.currentStyle.paddingRight)
  ); /* Fix for IE7 */
}

#right {
  width: 197px;
  margin-right: -220px;

	border-top: 1px solid #1b3c5d;
	border-bottom: 1px solid #1b3c5d;
	border-left: 1px solid #1b3c5d;
	background-color: #2e5494;
}

#sidebar_left {
	background: white;
	
	margin-top: .25em;
	margin-bottom: .25em;
}

#sidebar_right {
  background: white;
	
	margin-top: .25em;
	margin-bottom: .25em;
}

#mainBox {
	background-color: #fff;
	border: 1px solid #2d4d72;
	margin: .25em;
	padding: .25em;
}

	#breadcrumbs {
		background-color: #F7F7F7;
		border-bottom: 1px solid #DDDDDD;
		padding: .3em;
	}
	#content {
		padding: .25em;
		width: 100%;
		margin: 0px auto;
	}
	
#head {
	height: 85px;
/*	background: url('images/top-bg.png') no-repeat top left #15316a; 
		place your header background (with transparent background) here! */
	background-color: #15316a;
}
	#logo {
		height: 85px;
		margin-left: 1em;
		text-align: right;
		float: left;
	}
	#shadow {
		height: 5px;
		background: url('images/top-shadow.png') repeat-x transparent;
	}
	
#navlist {
  font-size: 1.0em;
/*  padding: 0pt; */
  color: #9cf;
/*	margin: .25em auto; */
	padding: 10px 10px 0;
	margin: 0pt;
	float: right;
	text-align: right;
}
#navlist a {
  font-weight: normal;
  color: #fff;
}
#navlist a.active {
  color: #fff;
	font-weight: bold;
	padding-top: 10px;
	background: url('images/active-tab.png') no-repeat transparent;
	background-position: 50% 0%;
}
#navlist ul.links li {
	padding-top: 10px;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 1em;
  color: #9cf;
}
#subnavlist a {
  font-weight: normal;
  color: #9cf;
}
#subnavlist a.active {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}

#footer {
  /*background-color: #eee;*/
  padding: 0em;
  font-size: 0.8em;
	font-weight: normal;
	text-align: center;
	margin: 0pt;
}

.site-name {
  margin: 0.6em 0 0 0;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: 0;
	padding-bottom: 0;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}


/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}



html.js .resizable-textarea textarea {
	width: auto;
}

.resizable-textarea {
	width:auto;
}


#event-taxonomy-filter-form {
	width: 25%;
	min-width: 210px;
	float: left;
}

#center form#event-taxonomy-filter-form, #center form#event-type-filter-form {
	margin-bottom: 0pt;
}

ul.links {
/*	clear: both; */
}

.panel-col-last .block ul { padding: 0px }

/* for tinyMCE */
body.mceContentBody {
  background: #fff;
  color: #000;
  text-align: left;
}

.content ol {
	padding:0pt 0pt 0.2em 1.5em;
}
.content .item-list ul, .content ul.menu, .content ol.menu {
	margin: 0pt;
	padding: 0pt;
}

li.collapsed {
  padding: 0px;
}

.content ul li, .item-list ul li, li.leaf, .mceContentBody ul li,
#right ul.menu li {
	margin:0pt 0pt 0pt 1.5em;
	padding: 0px;
}

#user-login-form .item-list li {
	background: none;
	margin: 0;
	padding: 0;
}

.node-form .standard {
	clear: none;
}